header {
    position: relative;
    border-bottom: 1px solid gray;
}

header img {
    height: 20px;
    vertical-align: middle;
}

header>h1 {
    display: inline;
    font-size: 14px;
}

header>nav {
    display: inline;
}

header>nav>ul {
    display: inline;
    list-style-type: none;

}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

table,
th,
td {
    border: 1px solid black;
}

table th {
    background-color: #c2c2c2;
    padding: 5px;
}

table td {
    padding: 5px;
}

.btn {
    display: inline-block;
    width: 70px;
    height: 14px;
    padding-top: 3px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn-default {
    background-color: DarkGray;
}

.btn-primary {
    background-color: navy;
    color: white;
}

.btn-secondary {
    background-color: darkgreen;
    color: white;
}

.btn-light {
    background-color: white;
}

.pos-right {
    position: absolute;
    right: 0px;
}

.login-state {
    display: inline;
}