<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="false">
  
  <context-param>
     <param-name>jdbc2.driver</param-name>
     <param-value>com.mysql.driver.Driver</param-value>
  </context-param>
  <context-param>
     <param-name>jdbc2.url</param-name>
     <param-value>jdbc:mysql://loacalhost/studydb</param-value>
  </context-param>
  <context-param>
     <param-name>jdbc2.username</param-name>
     <param-value>study</param-value>
  </context-param>
  <context-param>
     <param-name>jdbc2.password</param-name>
     <param-value>1111</param-value>
  </context-param>
  
  <!-- 리스너 등록 -->
  <!-- 
  <listener>
    <listener-class>com.eomcs.web.ex02.Listener01</listener-class>
  </listener>
   -->
   
  <!-- 서블릿 등록 -->
  <!-- 1. 서블릿 클래스를 -->
  <!-- 
  <servlet>
    <servlet-name>s01</servlet-name>
    풀 패키지명으로 작성
    <servlet-class>com.eomcs.web.ex01.Servlet01</servlet-class>
  </servlet>
   -->
   
  <!-- 서블릿에 URL 경로 부여 -->
  <!-- 2. 서블릿 컨테이너에 등록 -->
  <!-- 
  <servlet-mapping>
    <servlet-name>s01</servlet-name>
    <url-pattern>/ex01/first</url-pattern>
  </servlet-mapping>
   -->
   
   <!-- 필터 등록 -->
   <!-- 
   <filter>
    <filter-name>f01</filter-name>
    <filter-class>com.eomcs.web.ex02.Filter01</filter-class>
   </filter>
    -->
     
   <!-- 필터에 URL 경로 부여 -->
   <!-- 
   <filter-mapping>
    <filter-name>f01</filter-name>
    *로 지정하는건 ex02 경로는 무조건 filter를 거친다.
    <url-pattern>/ex02/*</url-pattern>
   </filter-mapping>
    -->
    
    <!-- 
    <servlet>
	    <servlet-name>ex06.s3</servlet-name>
	    <servlet-class>com.eomcs.web.ex06.Servlet03</servlet-class>
	    <init-param>
	       <param-name>jdbc.driver</param-name>
	       <param-value>com.mysql.driver.Driver</param-value>
	    </init-param>
	    <init-param>
           <param-name>jdbc.url</param-name>
           <param-value>jdbc:mysql://loacalhost/studydb</param-value>
        </init-param>
        <init-param>
           <param-name>jdbc.username</param-name>
           <param-value>study</param-value>
        </init-param>
        <init-param>
           <param-name>jdbc.password</param-name>
           <param-value>1111</param-value>
        </init-param>
	    <load-on-startup>1</load-on-startup>
    </servlet>
    -->
</web-app>
